body {
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}
body main {
  width: 40vw;
  margin-left: 10vw;
  margin-top: 60px;
}
.result {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.result a h2 {
  font-size: 20px;
}
.result a {
  margin: 5px 0;
}
.result p {
  font-size: 16px;
  line-height: 21px;
}
.result h3 {
  font-size: 14px;
  align-self: self-start;
}
.result div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.result div img {
  width: 15px;
  height: 15px;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0 10px #9b9b9b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  top: 0;
}
header input[type="search"] {
  padding: 10px;
  width: 40vw;
  outline: 0;
  border: 0;
  background-color: #ededed;
}
header h1 {
  font-size: 20px;
  margin-left: 40px;
}
.domain-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.domain-info span {
  font-size: 12px;
  color: #004d00;
}
input[type="submit"] {
  background-color: #ededed;
  border: 0;
  padding-right: 10px;
}
form {
  display: flex;
}
.info-btn {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-btn button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.search-span {
  font-size: 21px;
  margin-top: 40px;
  font-weight: bold;
}
.title-link {
  color: #000;
}
.info-btn a {
  display: flex;
  cursor: pointer;
}
.result{
  background-color: #ffffffad;
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(11px);
}
.favicon{
  border-radius: 50%;
}
.result:hover{
  transform: scale(1.04);
  transition: 0.3s;
}
body{
  min-height: 100vh;
}